*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    border: none;
    outline: 0;
    font-family: 'Mitr', sans-serif;
    user-select: none;
    -moz-user-select: none;
}

body{
    background-color: #6e5c62;
}

header{
    text-align: center;
}

.container{
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.center{
    margin: 50px auto 20px auto;
}

header h1{
    font-size: 25px;
}

main #game{
    border-collapse: separate;
    border-spacing: .2rem;
}

main #game tr td{
    background-color: #615458;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

footer .keyboard{
    max-width: 100%;
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 0;
    border-collapse: separate;
    border-spacing: .4rem;
}

footer .keyboard tr#row1{
    position: relative;
}

footer .keyboard tr#row2{
    position: relative;
    left: 3%;
}

footer .keyboard tr#row3{
    position: relative;
    left: 6%;
}

footer .keyboard #ent{
    position: relative;
    left: 1%;
}

footer .keyboard #del{
    position: relative;
    left: 4%;
}

footer .keyboard #delete{
    background-image: url('../assets/backspace.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}

footer .keyboard tr button{
    width: 55px;
    height: 45px;
    border-radius: 5px;
    background-color: #4c4347;
    font-size: 20px; 
    cursor: pointer;
}

footer .keyboard #enter{
    width: 100%;
}

.true{
    background-color: #3aa394 !important;
}

.incorrect{
    background-color: #d3ad69 !important;
}

.false{
    background-color: #312a2c !important;
}

.transparent{
    opacity: 0.5 !important;
}